<div class="row">
    <div class="col-md-4 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Login</h2>
            <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                {{#if logInErr}}
                <p style="color: red;">{{logInErr}}</p>

                {{/if}}
                <label>Email Address</label>
                <input type="email" class="form-control" name="Email" placeholder="Enter Email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="Password" placeholder="Password">
            </div>
            <a href="/signup">Create new account ?</a><br/>
            <div>
                <button class=" btn btn-primary float-right form-control" type="submit">Login</button>
            </div>
               
            </form>
        </div>
    </div>
</div>